.history-card-div {
  margin: 20px 20px;
  padding: 18px 20px;
  line-height: 13px;
}

.anti-card-div {
  justify-content: space-around;
  width: 42%;
}

.anti-percent {
  font-size: 17px;
  margin-top: 1px;
}

.stake-div {
  justify-content: space-between;
}

.history-card-main-div {
  margin-top: 140px;
}

.cancel-btn{
  height: 25px;
  padding: 0px 10px;
  margin-top: -15px;
}

.cancel-main-div {
  
}

.error-cancel {
 padding: 20px;

}