

/* Default button styles */
.button {
  border: none;
  padding: 10px 30px ;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

/* Styles for the active button */
.active {
  background-color: transparent;
  border-bottom:4px solid rgb(10, 92, 245);
  /* Blue background color */
  color: #fff;
  /* White text color */

  
  /* Rounded corners */
}

.w-g {
  width: 90%;
}




.a {
  background-color: red;
}



