.market-main-div{
  background-color: rgba(3, 3, 75, 0.575);
  margin: 0px 12px;
}

.market-div {
  margin-top: 10px;
  padding:7px 9px ;
  line-height: 30px;
  

}

.market-icon {
  width: 25px;
  margin-top: -6px;
}

.g-color{
  background-color: blue;
}

.g-main {
  justify-content: space-around;
 
}

.g-main-sp {
  text-decoration: none;
}

.incensive-fund{
  font-size: 15px;
  width: 10%;
  line-height: 15px;
 
}

.g-sub-color{
  background-color: rgb(11, 11, 116);
}

.m-color{
  background-color: #02025c
}


/* Score-Aganist */
.score-div {
  border-top: 1px dotted blue;
  border-bottom: 5px solid rgba(0, 0, 255, 0.137);
  padding: 8px 15px;
  margin-top: 3px;
 
}


.score-div-main {
margin-top: 110px;
margin-bottom: 60px;

}

.small-div small {
  font-size: 12px;
}

.score-div-2 {
  margin-top: 10px;
  line-height: 12px;
  font-size: 12px;
}

.volume-div {
  border: 4px solid blue;
  margin-right: 30px ;
  margin-top: 10px;
  
}

.against-color {
  background-color: rgb(2, 2, 95);
  padding:1px 8px;
  height: 30px;
  border-radius: 15px 0px 0px 15px ;
  color:red !important;
  
}

.against-div {
  height: 30px;

}

.against{
  background-color: rgb(2, 2, 95);
 
}
.against-div-2 {
  margin-top: -29px;
  margin-left: 45px;
}

.score {
  word-spacing: 10px;
  padding-top: 3px;
  font-size: 13px;
}

.odd {
  font-style: italic;
  font-weight: bold;
  border-radius: 0px 15px 15px 0px;
  padding-top: 3px;
  font-size: 13px;


  
}

/* Footer */
.position-div {
  position: -webkit-sticky;
    /* Safari */
    position: sticky;
    bottom: 0;
    
}

.font-footer {
  font-size: 10px;
}


/* Odd Div */
.odd-nav-div {
  padding-top: 3px;
}

.odd-nav-div-2 {
  font-size: 15px;
  margin-top: 5px;
}

.vs {
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  font-size: 15px;
  margin-top: -2px;
}

/* Odd */
.odd-div {
  background-color: rgba(5, 5, 68, 0.548);

}

.odd-div-color {
  background-color: rgba(5, 5, 68, 0.548);

}

.odd-league-name {
  margin-top: -22px;
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
  font-weight:lighter;
}

.odd-div-2 {
  justify-content: space-between;
  margin: 0px 40px;
}

.odd-img-div {
  border: 3px solid rgba(128, 128, 128, 0.212);
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin-left:53px;
}

.odd-img-div-2 {
  border: 3px solid rgba(128, 128, 128, 0.212);
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin-left: 37px;
}

.odd-img-text {
  position: absolute;
  margin-left: 28px;
  font-size: 15px;

}

.odd-img-text-2 {
  
  margin-left:-40px;
  font-size: 15px;

}
.odd-time-div {
  /* margin-left: -40px; */
}

.width-1 {
  width: 30%;
}

.width-2{
  width: 30%;
}

.odd-time-1{
  border-radius: 5px;
  background-color: rgb(38, 0, 255);
  padding: 5px 9px;
  font-size: 17px;
  font-weight: bold;
}

.odd-time-2 {
  padding: 5px;
  font-weight: bold;
}

.odd-time-3 {
  border-radius: 5px;
  background-color: rgb(38, 0, 255);
  padding: 5px 9px;
  font-size: 17px;
  font-weight: bold;
}

.odd-date {
  padding-top: 7px;
}

/* Odd Scores */
.odd-score-div {
  background-color: rgba(5, 5, 68, 0.548);
}

.odd-score-div-2 {
  
}
.odd-score-div-3 {
    padding: 14px 22px;
    justify-content: space-between;
}

.odd-cs {
  background-color: rgb(7, 24, 59);
  font-size: 14px;
  font-family: cursive;
  padding: 6px 22px;
  margin-top: 17px;

}

.odd-sl {
  border-radius: 10px;
  background-color: rgb(7, 24, 59);
  padding: 10px 10px;
  margin-bottom: 7px;
  height: 40px;
  width: 100px;
}

.odd-sl span {
  background-color: rgb(7, 24, 59);
  font-family: monospace;
}

.odd-sl-span-1 {
  font-size: 10px;
  padding-top: 4px;
  opacity: 20%;
}

.odd-sl-span-2 {
  font-size: 14px;
}

.odd-c-text {
  margin-bottom: 5px;
}

.odd-c-name-1, .odd-c-name-2, .odd-c-name-3 {
  opacity: 25%;
}

.odd-4 {
    border-radius: 10px;
    background-color: rgb(7, 24, 59);
    padding: 10px 10px;
    margin-bottom: 50px;
    height: 40px;
    width: 89%;
    margin-left: 20px;
    
}

.odd-about-div{
  background-color: rgb(5, 27, 71);;
  border-radius: 50%;
  height: 85px;
  width: 85px;

  font-size: 11px;
  font-family: cursive;
  color: rgba(20, 199, 20, 0.623);
  padding: 20px 10px 0px 10px;
  font-weight: bold;
  letter-spacing: 4px;
}

.odd-about {
  margin-top: -20px;
  display: flex;
  justify-content: end;
}

/* Updated Odd */
.margin {
  margin-top: 77px;
  margin-bottom: 100px;
}


/* Bet */
.bet-div{
  border-radius: 30px;
  padding: 15px 25px;
  margin: 0 20px;
  width: 85%;



}

.bet-div-1{
  border-radius: 30px;
  padding: 15px 25px;
  margin: 0 20px;
  width: 85%;
  background-color:#020252;

}



.bet-color{
  background-color: rgb(7, 24, 59); 

}

.bet-div-2 {
  padding: 10px 15px;
  border-radius: 20px;
  margin-top: -10px;
  padding-bottom: 11px;
  margin-bottom: 15px;
}

.bet-logo-div{
  border: 5px solid rgba(128, 128, 128, 0.212);
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.bet-team-div {
  justify-content: space-around;
  margin: 0px 20px;
}

.bet-cs-div {
  height: 38px;
  margin-top: 10px;
  padding-bottom: 40px;
  margin-left: 30px;
}

.bet-amount-div {
    padding: 10px 15px;
    border-radius: 20px;
    margin-top: 25px;
  

}

.bet-pg-div {
  width: 70%;
}

.bet-input {
  padding-left: 34px;
  width: 80%;
}

.bet-input-div {
  margin-top: -25px;
}

.bet-x-div {
  margin-left: -144px;
  margin-top: 40px;

}

.bet-per {
  margin-top: 26px;
}

.bet-font {
  font-size: 11px;
}

.bet-font-2 {
  font-size: 11px;
}

.amount-icon {
  position: absolute;
  background-color: transparent;
}



/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black overlay */
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-overlay-error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black overlay */
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-overlay-success {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black overlay */
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Error and Success Card */
.error-div {
    border-radius: 30px;
      padding: 30px 40px;
      margin: 0 20px;
      width: 65%;
      height: 200px;
      background-color: rgb(7, 24, 59);    
}