.nav-arrow {
  width: 2.188rem;
  margin-left: -0.625rem;
  color: white;
  rotate: 180deg;
}

.nav-arrow-2 {
  width: 2rem;
  margin-left: -0.625rem;
  color: white;
  rotate: 180deg;
}

.search-div{
  border: 1px solid white ;
  padding-left: 30px;
}

.search-div::placeholder{
  font-size: 12px;
  padding-left: 30px;
}