/* LogoLoader.css */

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
  width: 100px;
  /* Adjust the size of your logo as needed */
  height: auto;
  margin-bottom: 20px;
  /* Add some space between the logo and loader */
}

.loader {
  /* border: 8px solid #f3f3f3; */
  /* Light grey */
  /* border-top: 8px solid #3498db; */
  /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin-top: 20px;
  
}

.logo-text {
  margin-top: -40px;
  line-height: 0px;
  text-align: center;
}

.logo-text h5 {
  font-family: cursive;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 15px;
  padding-left: 17px;

}

.logo-text span small {
  font-size: 10px;
  font-style: italic;
  
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}